.font{
    font-family: 'Roboto', sans-serif;  };
    @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Roboto:wght@300&display=swap');
    .f2{
        font-family: 'Cinzel Decorative', cursive;

    }

.scaled-cart {
    
    width: 200px;
    

    cursor: pointer;
    transition: transform 0.25s;
    
  }
  
  
  